
.collection.with-header {
  .collection-header {
    padding: 20px;
    .collection-title {
      font-weight: 300;
      margin: 0;
    }
    .collection-subtitle {
      margin: 0;
    }
  }
}

// vim:sw=2
