/*
 * PACE progress indicator theme
 */

// Variables
$pace-first-color: #e74c3c;
$pace-second-color: #3498db;
$pace-third-color: #f9c922;
$pace-bg-color: #222;
$pace-indicator-size: 150px;
$pace-border-width: 3px;
$pace-separation: 5px;
$pace-zindex: 2000;

.pace {
  pointer-events: none;
  user-select: none;

  z-index: $pace-zindex;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: $pace-bg-color;

  overflow: hidden;

  &.pace-inactive { display: none; }
  
  .pace-progress {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: $pace-indicator-size;
    height: $pace-indicator-size;
    margin-top: -($pace-indicator-size/2);
    margin-left: -($pace-indicator-size/2);
    border: $pace-border-width solid transparent;
    border-radius: 50%;
    border-top-color: $pace-second-color;
    z-index: $pace-zindex+200;
    animation: spin 3s linear infinite;

    &:before,
    &:after {
      content: "";
      position: absolute;
      border: $pace-border-width solid transparent;
      border-radius: 50%;
      animation: spin 0s linear infinite;
    }

    &:before {
      top: $pace-separation * 3;
      left: $pace-separation * 3;
      right: $pace-separation * 3;
      bottom: $pace-separation * 3;
      border-top-color: $pace-first-color;
      animation-duration: 3s;
    }

    &:after {
      top: $pace-separation;
      left: $pace-separation;
      right: $pace-separation;
      bottom: $pace-separation;
      border-top-color: $pace-third-color;
      animation-duration: 1.5s
    }
  }
}

@keyframes spin {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.pace-running .wrapper {
  opacity: 0;
}

body .wrapper {
  transition: opacity .211s;
}
