
.side-nav {
  bottom: 0;
  height: calc(100% - 56px);
  position: fixed;
  top: 56px;
  width: calc(16.667% + .75rem);
  z-index: 450;

  li {
    a {
      @extend .truncate;
      display: block;
      height: 44px;
      line-height: 44px;

      i {
        font-weight: normal;
        display: inline-block;
        vertical-align: middle;
        height: 24px;
        line-height: 24px;
      }
      span {
        font-weight: bold;
        font-size: 0.9rem;
        margin-left: 15px;
        display: inline-block;
        line-height: normal;
      }
    }

    &.active {
      background-color: #e1e1e1;
    }

    &:hover {
      background-color: rgba(0, 0, 0, .03);
    }
  }
}

#sidenav-overlay {
  background-color: transparent;
  z-index: 440;
}
