.supplier-profile {

  .supplier-profile-header {
    .card-image { height: 250px; }
    .card-profile-image {
      cursor: pointer;
      left: 40px;
      margin: 0;
      position: absolute;
      top: 195px;
      width: 110px;
      z-index: 1;
    }
    .card-content {
      margin-top: -40px;
      .card-title { margin-bottom: 0px; }
    }

    .card-reveal {
      .card-title {
        .supplier-name {
          float: left;
          cursor: default;
        }
        .action-edit {
          font-size: 20px;
          margin-left: 10px;
          line-height: 36px;
          @extend .grey-text.text-lighten-2;

          &:hover {
            @extend .grey-text.text-darken-2;
          }
        }
      }
    }
  }

}
