{% macro render_data(label, data) -%}
<div class="info-row">
  <span class="info-label light">{{ label }}</span>
  <span class="info-data">{{ data }}</span>
</div>
{%- endmacro %}

<div class="supplier-profile">

  <div class="col s12">
    <div class="supplier-profile-header card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="image/supplier-profile-bg.jpg" alt="supplier background">
      </div>
      <div class="card-content">
        <div class="row">
          <div class="col s3 offset-s2">
            <h4 class="card-title grey-text text-darken-4">{{ name }}</h4>
            <p class="medium-small grey-text">Marcas</p>
          </div>
          <div class="col s2 center-align">
            <h4 class="card-title grey-text text-darken-4">{{ payment_term }} días</h4>
            <p class="medium-small grey-text">Forma de Pago</p>
          </div>
          <div class="col s2 center-align">
            <h4 class="card-title grey-text text-darken-4">420</h4>
            <p class="medium-small grey-text">Productos activos</p>
          </div>
          <div class="col s2 center-align">
            <h4 class="card-title grey-text text-darken-4">$ 5.680,45</h4>
            <p class="medium-small grey-text">Comprados</p>
          </div>
          <div class="col s1 right-align">
            <a class="btn-floating activator waves-effect waves-light darken-2 right">
              <i class="material-icons">edit</i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col s12 m6">
    <div class="card">
      <div class="card-header row">
        <div class="col s3">
          <div class="iconimg">
            <img class="circle responsive-img" src="image/factory.png">
          </div>
        </div>
        <div class="col s9">
          <span class="card-title">{{ name }}<i class="material-icons right">more_vert</i></span>
          <div class="info-horizontal secondary-info">
            {% if address|length %}{{ render_data('Dirección', address[0]) }}{% endif %}
            {%- if phone|length %}{{ render_data('Teléfono', phone[0].number) }}{% endif -%}
            {% if email|length %}
            <div class="info-row">
              <span class="info-label light">E-mail</span>
              <span class="info-data"><a href="mailto:{{ email }}">{{ email }}</a></span>
            </div>
            {% endif %}
            {% if payment_term %}{{ render_data('Forma de Pago', payment_term) }}{% endif %}
            {% if fiscal_data %}{{ render_data('CUIT', fiscal_data.cuit) }}{% endif %}
          </div>
        </div>
      </div>
      <div class="card-body">
        <p>Card body</p>
      </div>
    </div>
  </div>
</div>

{# vim: ft=jinja:sw=2
#}
