{% macro render_field(label, field, placeholder) %}
  <div class="form-row">
    <div class="row-label">
      <span class="label">
        <input value="{{ label }}" readonly="readonly">
      </span>
    </div>
    <div class="row-field">
      <input name="{{ field }}" placeholder="{{ placeholder }}">
    </div>
    <div class="row-action">
      <i class="material-icons">close</i>
    </div>
  </div>
{% endmacro %}

<div class="nbs-form">
  {{ render_field('Nombre', 'name', 'Agrega un nombre') }}
  {{ render_field('Dirección', 'address', 'Agrega una dirección') }}
  {{ render_field('CUIT', 'cuit', 'Agrega una Clave Única de Identificación Tributaria') }}
  {{ render_field('Telefono', 'phone', 'Agrega un teléfono') }}
</div>

{# vim: ft=htmljinja:sw=2
#}
