<div class="nbs-form">
  <div class="nbs-form-row">
    <div class="nbs-form-label">
      <span>Label</span>
    </div>
    <div class="nbs-form-field">
      <span>Field</span>
    </div>
    <div class="nbs-form-action">
      <span>x</span>
    </div>
  </div>
  <div class="nbs-form-row">
    <div class="nbs-form-label">
      <span>Label</span>
    </div>
    <div class="nbs-form-field">
      <span>Field</span>
    </div>
    <div class="nbs-form-action">
      <span>x</span>
    </div>
  </div>
</div>

{# vim: ft=htmljinja:sw=2
#}
